.moviesCardList {
  padding: 80px 70px 0;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width: 769px) {
  .moviesCardList {
    padding: 80px 10px 0;
  }
}
@media screen and (max-width: 425px) {
  .moviesCardList {
    padding: 50px 10px 0;
  }
}
.moviesCardList__list {
  list-style: none;
  padding: 0 0 77px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
  column-gap: 20px;
  row-gap: 38px;
  grid-auto-flow: row;
}
@media screen and (max-width: 769px) {
  .moviesCardList__list {
    padding: 0 0 50px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }
}
@media screen and (max-width: 425px) {
  .moviesCardList__list {
    grid-template-columns: 1fr;
    row-gap: 34px;
  }
}
