.movies__button {
  display: block;
  width: 320px;
  height: 36px;
  border: 1px solid #e8e8e8;
  background-color: transparent;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0;
}
@media screen and (max-width: 425px) {
  .movies__button {
    width: 240px;
    height: 36px;
  }
}
