.authForm {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 425px) {
  .authForm {
    padding: 56px 30px 30px;
    align-items: center;
    height: 100%;
  }
}
.authForm__form-container {
  min-height: 266px;
  display: flex;
  flex-direction: column;
}

.authForm__header {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  padding: 40px 0;
  margin: 0;
}


