.header {
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 70px;
}

.header__content-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    height: 38px;
    width: 38px;
    padding-right: 44px;
}
.header__nav-link {
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    color: #000;
    padding-right: 16px;
}

.header__nav-link_bold {
    font-weight: 500;
}
.header__nav-link_profile {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 26px;
    grid-column-gap: 25px;
    justify-items: center;
    align-items: center;
}

.header__hamburger-menu {
    display: none;
    background-image: url("../../images/hamburger_menu.svg");
    height: 44px;
    width: 44px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__login-button {
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 3px;
    width: 76px;
    height: 32px;
    margin-left: 34px;
}

@media screen and (max-width: 769px){
    .header__nav-link {
        display: none;
 }
}
@media screen and (max-width: 769px){
    .header__hamburger-menu {
        display: block;
 }
}