.sectionHeader {
width: 100%;
display: flex;
align-items: center;
padding: 23px 0;
border-bottom: 1px solid;
}

.sectionHeader__text {
margin: 0;
font-size: 22px;
line-height: 27px;
font-weight: 400;
}

.sectionHeader_portfolio {
    color: #A0A0A0;
    border-bottom: none;
}